
.bg-blue {
  background-color: #4285f4;
}

 .navbar {
  min-height: 70px;
}

.menu-button {
  border-radius: 50px;
  background-color: #4285f4;
  border:0;
  outline:none;
  padding: 10px;
}

.menu-button:active {     
    background-color:#0059b3;    
}

main {
  background-color: #f2f2f2;
}

.wrapper {
	height: 700px;
  margin-top: 70px;
  padding-top: 15px;
}


.menu {
    height: 700px;
    width: 25%;
    float: left;
    padding: 10px;
}

.menu-hidden {
    height: 700px;
    width: 25%;
    float: left;
    margin-left: -31%;
    padding: 10px;
}

.link {
  margin-left: 15px;
}

.nav-item:hover {
  background-color: #D3D3D3;
}

.drop {
  background-color: #4285f4!important;
  border: none!important;
  outline: none!important;
}

.drop:focus {
  box-shadow: none!important;
}

.example {
  height: 250px;
}

.span-state {
  margin-left: 15px;
}

.toggle-container {
  width: 300px;
  height: 100px;
  background-color: cornflowerblue;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marco {
  border: 12px solid #4285F4;
}

.tablewhite {
  background-color: white!important;
}

.addQuestion{
  background-color: #C5C9B8;
  width: 100%;
  color: #333333;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}