
.bg-blue {
  background-color: #4285f4;
}

 .navbar {
  min-height: 70px;
}

.menu-button {
  border-radius: 50px;
  background-color: #4285f4;
  border:0;
  outline:none;
  padding: 10px;
}

.menu-button:active {     
    background-color:#0059b3;    
}

main {
	
	border: 4px solid silver;

}

.Contenido {
	width: 68%;
	border: red solid 3px;
	float: right;
	height: 700px;
	margin-top: 70px;
}


.Menu {

    border: black solid 3px;
    height: 700px;
    width: 30%;
    float: left;
    margin-top: 70px;

}

.Menu-oculto {

    border: black solid 3px;
    height: 700px;
    width: 30%;
    float: left;
    margin-top: 70px;
    margin-left: -31%;
}