
.bg-blue {
  background-color: #4285f4;
}

 .navbar {
  min-height: 70px;
}

.menu-button {
  border-radius: 50px;
  background-color: #4285f4;
  border:0;
  outline:none;
  padding: 10px;
}

.menu-button:active {     
    background-color:#0059b3;    
}

main {
  background-color: #f2f2f2;
}

.wrapper {
	height: 700px;
	margin-top: 70px;
}


.menu {
    height: 700px;
    width: 30%;
    float: left;
    padding: 10px;
}

.menu-hidden {
    height: 700px;
    width: 30%;
    float: left;
    margin-left: -31%;
    padding: 10px;
}

.link {
  margin-left: 15px;
}

.nav-item:hover {
  background-color: #D3D3D3;
}